<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sarsenov Dauren">
  <meta name="description" content="modern internet-shop for every person">
  <meta name="keywords" content="internet-shop">
  <title>Anime</title>
  <!-- Font Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Library -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Bootstrap scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <!-- Font Awesome script -->
  <script src="https://kit.fontawesome.com/ff6d25a6f4.js" crossorigin="anonymous"></script>
  <!-- Favicon -->
  <link rel="icon" href="pic/favicon/favicon.ico">
</head>

<body>
  <!-- Header navbar-->
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <a href="/"><img src="pic/Anime.jpg" alt="logo" width="60rem" height="60rem"><strong style="margin-left:3rem">AnimeLauncher</strong></a>
        </a>
        <ul class="nav ml-auto" style="margin-left:10px; text-align:center; margin-top:10px; margin-botton:0px;">
          <li class="nav-item block-for-signin">
            <a class="nav-link details-nav cd-signup" href="/logIn"><i class="fas fa-user-alt fa-2x"></i>
              <br>
              <p>Вход</p>
            </a>
          </li>
          <li class="nav-item block-for-signin" style="color:blue;">
            <a class="nav-link details-nav cd-signup" href="/logIn"><i class="fas fa-history fa-2x"></i>
              <br>
              <p>History</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </header>

  <!-- body -->
  <main>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <a href="/naruto"><img src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg" class="card-img-top" alt="naruto"></a>
              <div class="card-body">
                <h5 class="card-title">Naruto 1 season</h5>
                </div>
              <div class="card-body">
                <a href="/naruto" class="card-link">Naruto</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/blackclover"><img src="https://m.media-amazon.com/images/M/MV5BNTAzYTlkMWEtOTNjZC00ZDU0LWI5ODUtYTRmYzY0MTAzYWZlXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="Black Clover"></a>
              <div class="card-body">
                <h5 class="card-title">Black Clover</h5>
                </div>
              <div class="card-body">
                <a href="/blackclover" class="card-link">Black Clover</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/neverland"><img src="https://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/media/library-400/266_636971803841521127TPN_Small_RU_hq.jpg" class="card-img-top" alt="The Promised Neverland"></a>
              <div class="card-body">
                <h5 class="card-title">The Promised Neverland</h5>
                </div>
              <div class="card-body">
                <a href="/neverland" class="card-link">The Promised Neverland</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <a href="/bleach"><img src="https://www.themoviedb.org/t/p/w500/5iVUUnE2tgBPypACYNobCKHagfV.jpg" class="card-img-top" alt="Bleach"></a>
              <div class="card-body">
                <h5 class="card-title">The Bleach</h5>
                </div>
              <div class="card-body">
                <a href="/bleach" class="card-link">The Bleach</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/demonSlayer"><img src="https://m.media-amazon.com/images/M/MV5BZjZjNzI5MDctY2Y4YS00NmM4LTljMmItZTFkOTExNGI3ODRhXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg" class="card-img-top" alt="Demon Slayer"></a>
              <div class="card-body">
                <h5 class="card-title">Demon Slayer</h5>
                </div>
              <div class="card-body">
                <a href="/demonSlayer" class="card-link">Demon Slayer</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/hunter"><img src="https://img1.ak.crunchyroll.com/i/spire3/cbb55a6382682bf71e91f685c6473c5a1487736090_main.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">Hunter x Hunter</h5>
                </div>
              <div class="card-body">
                <a href="/hunter" class="card-link">Hunter x Hunter</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <a href="/gintama"><img src="https://img1.ak.crunchyroll.com/i/spire2/54c15675670ba44c1f98c3e11ba0cddf1515030877_full.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">The Gintama</h5>
                </div>
              <div class="card-body">
                <a href="/gintama" class="card-link">The Gintama</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/heroAcademia"><img src="https://m.media-amazon.com/images/M/MV5BNTk1NTc0MTYtY2IyNC00OWVjLWJhYWItNDQ0ODdiNWZkYTA5XkEyXkFqcGdeQXVyMTQ3MjMyMTYz._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">My Hero Academia</h5>
                </div>
              <div class="card-body">
                <a href="/heroAcademia" class="card-link">My Hero Academia</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- proposal -->
  <nav class="proposal">

  </nav>

  <!-- Footer -->
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>

  <script type="javaS/index.js">

  </script>
</body>

</html>
