<!DOCTYPE html>
<html lang="en">

<%- include('views/layouts/header');-%>

<body>
  <!-- Header navbar-->
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <ul class="nav mr-auto">
          <li class="nav-item block-for-signin">
            <a href="/designRating">
              <div class="showRating">
                <%=myData%>
              </div>
            </a>
          </li>
        </ul>
        <a href="#" class="navbar-brand d-flex align-items-center">
          <a href="/"><img src="pic/Anime.jpg" alt="logo" width="60rem" height="60rem"><strong style="margin-left:3rem">AnimeLauncher</strong></a>
        </a>
        <ul class="nav ml-auto" style="margin-left:10px; text-align:center; margin-top:10px; margin-botton:0px;">
          <li class="nav-item block-for-signin">
            <a class="nav-link details-nav cd-signup" href="/logIn"><i class="fas fa-user-alt fa-2x"></i>
              <br>
              <p>Log In</p>
            </a>
          </li>
          <li class="nav-item block-for-signin">
            <a class="nav-link details-nav cd-signup" href="/history"><i class="fas fa-history fa-2x"></i>
              <br>
              <p>History</p>
            </a>
          </li>
          <li class="nav-item block-for-signin">
            <a class="nav-link details-nav cd-signup" href="/deletePage"><i class="fas fa-backspace fa-2x"></i>
              <br>
              <p>Delete</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </header>

  <!-- body -->
  <main>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <a href="/naruto"><img src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg" class="card-img-top" alt="naruto"></a>
              <div class="card-body">
                <h5 class="card-title">Naruto 1 season</h5>
                </div>
              <div class="card-body">
                <a href="/naruto" class="card-link">Naruto</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/blackclover"><img src="https://m.media-amazon.com/images/M/MV5BNTAzYTlkMWEtOTNjZC00ZDU0LWI5ODUtYTRmYzY0MTAzYWZlXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="Black Clover"></a>
              <div class="card-body">
                <h5 class="card-title">Black Clover</h5>
                </div>
              <div class="card-body">
                <a href="/blackclover" class="card-link">Black Clover</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/neverland"><img src="https://d2y6mqrpjbqoe6.cloudfront.net/image/upload/f_auto,q_auto/media/library-400/266_636971803841521127TPN_Small_RU_hq.jpg" class="card-img-top" alt="The Promised Neverland"></a>
              <div class="card-body">
                <h5 class="card-title">The Promised Neverland</h5>
                </div>
              <div class="card-body">
                <a href="/neverland" class="card-link">The Promised Neverland</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <a href="/bleach"><img src="https://www.themoviedb.org/t/p/w500/5iVUUnE2tgBPypACYNobCKHagfV.jpg" class="card-img-top" alt="Bleach"></a>
              <div class="card-body">
                <h5 class="card-title">The Bleach</h5>
                </div>
              <div class="card-body">
                <a href="/bleach" class="card-link">The Bleach</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/demonSlayer"><img src="https://m.media-amazon.com/images/M/MV5BZjZjNzI5MDctY2Y4YS00NmM4LTljMmItZTFkOTExNGI3ODRhXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg" class="card-img-top" alt="Demon Slayer"></a>
              <div class="card-body">
                <h5 class="card-title">Demon Slayer</h5>
                </div>
              <div class="card-body">
                <a href="/demonSlayer" class="card-link">Demon Slayer</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/hunter"><img src="https://img1.ak.crunchyroll.com/i/spire3/cbb55a6382682bf71e91f685c6473c5a1487736090_main.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">Hunter x Hunter</h5>
                </div>
              <div class="card-body">
                <a href="/hunter" class="card-link">Hunter x Hunter</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <a href="/gintama"><img src="https://img1.ak.crunchyroll.com/i/spire2/54c15675670ba44c1f98c3e11ba0cddf1515030877_full.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">The Gintama</h5>
                </div>
              <div class="card-body">
                <a href="/gintama" class="card-link">The Gintama</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="/heroAcademia"><img src="https://m.media-amazon.com/images/M/MV5BNTk1NTc0MTYtY2IyNC00OWVjLWJhYWItNDQ0ODdiNWZkYTA5XkEyXkFqcGdeQXVyMTQ3MjMyMTYz._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="Hunter"></a>
              <div class="card-body">
                <h5 class="card-title">My Hero Academia</h5>
                </div>
              <div class="card-body">
                <a href="/heroAcademia" class="card-link">My Hero Academia</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- proposal -->
  <nav class="proposal">

  </nav>

  <!-- Footer -->
  <%-include('views/layouts/footer')-%>

  <script type="javaS/index.js">

  </script>
</body>

</html>
