<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <a href="/"><img src="/pic/Anime.jpg" alt="logo" width="60rem" height="60rem"><strong style="margin-left:3rem">AnimeLauncher</strong></a>
        </a>
        <ul class="nav ml-auto" style="margin-left:10px; text-align:center; margin-top:10px; margin-botton:0px;">
            <%if (loggedIn) {%>
            <li class="nav-item block-for-signin">
                <a class="nav-link details-nav cd-signup" href="/anime/new"><i class="fas fa-plus fa-2x"></i>
                    <br>
                    <p>New Anime</p>
                </a>
            </li>
                <li class="nav-item block-for-signin">
                    <a class="nav-link details-nav cd-signup" href="/history"><i class="fas fa-history fa-2x"></i>
                        <br>
                        <p>History</p>
                    </a>
                </li>
                <li class="nav-item block-for-signin">
                    <a class="nav-link details-nav cd-signup" href="/deletePage"><i class="fas fa-backspace fa-2x"></i>
                        <br>
                        <p>Delete</p>
                    </a>
                </li>
                <li class="nav-item block-for-signin">
                    <a class="nav-link details-nav cd-signup" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i>
                        <br>
                        <p>Log out</p>
                    </a>
                </li>
            <%}%>
                <%if (!loggedIn){%>
            <li class="nav-item block-for-signin">
                <a class="nav-link details-nav cd-signup" href="/logIn"><i class="fas fa-user-alt fa-2x"></i>
                    <br>
                    <p>Log In</p>
                </a>
            </li>
                <%}%>

        </ul>
    </div>
</div>