<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>
  <!-- Header navbar-->
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <a href="/"><img src="pic/Anime.jpg" alt="logo" width="60rem" height="60rem"><strong style="margin-left:3rem">AnimeLauncher</strong></a>
        </a>
        <ul class="nav ml-auto" style="margin-left:10px; text-align:center; margin-top:10px; margin-botton:0px;">
          <li class="nav-item block-for-signin">
            <a class="nav-link details-nav cd-signup" href="/logIn"><i class="fas fa-user-alt fa-2x"></i>
              <br>
              <p>Вход</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </header>

  <!-- body -->
  <main>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-3">
            <img src="https://m.media-amazon.com/images/M/MV5BZjZjNzI5MDctY2Y4YS00NmM4LTljMmItZTFkOTExNGI3ODRhXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg" alt="Demon Slayer" class="picForPage">

          </div>
          <div class="col-9" style="padding-left:5rem">
            <h1>Demon Slayer</h1>
          </div>


        </div>
      </div>
    </div>



  </main>


  <!-- Footer -->
  <%-include('layouts/footer')-%>

  <script type="javaS/index.js">

  </script>
</body>

</html>
