<!doctype html>
<html lang="en">
<%- include('layouts/header');-%>
<body>
<div class="container">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Rating of design</h4>
        <form action="/designRating" class="needs-validation" novalidate method="post">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="id" class="form-label">Rating my design</label>
                    <input type="text" class="form-control" name="rating" placeholder="Rating" value="" required>
                    <div class="invalid-feedback">
                        Thanks for your attention, your voice is the best thing
                    </div>
                </div>

            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
    </div>
</div>

<%-include('layouts/footer')-%>

</body>
</html>
