<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header');-%>
<body>
  <!-- Header navbar-->
  <header>
    <nav class="navbar navbar-header" style="background-color:#a6a6a6;">
      <a href="/"><img src="pic/Anime.jpg" alt="logo" width="60rem" height="60rem"></a>

    </nav>
  </header>

  <!-- body -->
  <main>
    <nav class="body-for-main-page">
      <h1>Naruto</h1>

      <!-- <form action="naruto/calc" method="post">
        <input type="text" name="number1">
        <input type="text" name="number2">
        <button type="submit" name="Submit">Add</button>
      </form> -->

    </nav>

  </main>

  <!-- proposal -->
  <nav class="proposal">

  </nav>

  <!-- Footer -->
  <%-include('layouts/footer')-%>

<script type="javaS/index.js">

</script>
</body>
</html>
