<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body class="text-center">

<main class="form-signin">
<form action="/registration" method="post">
  <a href="/"><img class="mb-4" src="pic/Anime.jpg" alt="" width="100" height="100"><a>
  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

  <div class="form-floating mb-3">
  <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="nickName" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Nickname</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="passwordAgain" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password again</label>
</div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>
</main>

<script type="javaS/index.js">

</script>

</body>



</html>
